.chart-body{
  border: solid 2px black;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  height: fit-content;
}
@keyframes display {
  0% {
    
    width: 0;
    }
  
  100% {
    width:49%;
  }
  
}
@keyframes move{
  0%{
    opacity: 0;

  }
  50%{

    opacity: 0.5;
        background-color:black;
    border-radius: 50%;
  }
  100%{
    opacity: 1;

  }
}

.charts{
  height: 39vh;
  animation: display 2s ease-in -1s ;
}
.charts-2{
  
  animation: display 2s ease-in -1s ;
}
.charts-play button{
  margin: 10px;
}
.profile-img{
  margin-top: 30px;
  margin-bottom: 60px;
}
.profile-img img{
  border-radius: 100%;
  height: 4cm;
  width: 4cm;
  border: 2px solid rgb(161, 100, 109);
 margin-bottom: 50px;
}
.smprofile{
  border: solid 2px black;
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: sticky;
  top: 15vh;
  overflow:hidden;
}
.icon{
  height:15px;
  width: auto;
  animation: move 2s ease-in-out  10;
}
.profile-details{
  margin-left: 10px;
  overflow: -moz-hidden-unscrollable;
}
.navbar-sticky{
  position: fixed;
  top: 0px;
}
p.quote{
  max-width: 6rem;
  text-transform: uppercase;
  text-align: left;
  color: black;
}
.profile-logo img{
  height: 40px;
  width: 40px;
  border-radius: 250px;
}
.mprofile-logo img{
  height: 7rem;
  width: 7rem;
  border-radius: 250px;
}
.gui-layout{
  height:20cm;
  width: 20cm;
}
.overflow-hidden{
  height: fit-content;
  overflow: scroll;
}
.welcmsg{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.welcmsg i{
  color: green;
}
li a{
  text-decoration: none;
}
.dropdown-toggler button{
  border: none;
  border-radius: 25%;
}
.b-none{
  border: none;
}
.anim-none{
  animation:  none;
}
.sidebar-off{
  background-color: cadetblue;
}
.sidebar-list:hover{
  border:solid 1px black;
  border-color: green;
  padding: 2rem;
  color: green;
  border-radius:25px;
  border-color: linear-gradient(bottom,red,blue , white,green, pink);
  box-shadow: 200px 200px rgba(134, 21, 21, 0);
  
}
.sidebar-list{
  text-decoration: none;
  font-size: xx-large;
  color: brown;
  padding: 2rem;
  border-radius:25px;
  margin: 1px;
  
}
.some-space{
  margin-left: 10px;
  padding-left: 10px;
  font-size: xx-large;

}
.dashboard-title{
  font-weight: 900px;
  font-size: xx-large;
  font-size: 3rem;
  color: purple;
}
h1::selection{
  background-color: pink;
}